// Theses are the Overrides of Bootstrap Sass Variables locatted in boostrap/_variables

$brand-primary: #bbbbbb;

//Home 
$home-page-title-text: #000;
$home-page-main-title-color: $brand-primary;

// Footer
$footer-bg-color: #fff;
$footer-text-color: #000;

// Sub footer
$sub-footer-bg-color: #ccc;

// Navbar
$navbar-text-color: #000;
$navbar-height: 44px;
$navbar-inverse-bg: #fff;
$navbar-inverse-color: #000;
