// Theses are the Overrides of Bootstrap Sass Variables locatted in boostrap/_variables

//$brand-primary: hsl(180, 0%, 13%);

//Home
$home-page-title-text: hsl(0, 0%, 13%);
$home-page-main-title-color: hsl(0, 0%, 13%);

// Footer
$footer-bg-color: #fff;
$footer-text-color: hsl(0, 0%, 13%);

// Sub footer
$sub-footer-bg-color: #fff;

// Navbar
$navbar-text-color: hsl(0, 0%, 13%);
$navbar-height: 34px;
$navbar-inverse-bg: #fff;
$navbar-inverse-color: #000;

//Breadcrumb
$breadcrumb-background-color: #fff;
$breadcrumb-title-color: hsl(0, 0%, 13%);
$breadcrumb-span-color: hsl(0, 0%, 13%);

.body {
    color: hsl(0, 0%, 13%);
}
.navbar-header {
    font-weight: 700;
    color: hsl(0, 0%, 13%);
}
.navbar-nav {
    font-weight: 400;
    color: hsl(0, 0%, 29%);
}


