<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            {% if site.irc_channel %}
            <li>IRC: Freenode/#{{ site.irc_channel }}</a></li>
            {% endif %}
            {% if site.github_repository_url and site.github_repository  and site.github_username%}
            <li>
              <a href="{{ site.github_repository_url }}"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">{{site.github_repository}}</span></a>
            </li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
