<div class="container-fluid footer">
    <div class="row">
        <footer id="footer">
            <div class="container">
                <div class="row footer-slim">
                    <div class="container">
                      <div class="company-footer-bottom">
                          {% for link in site.data.footer.company-links %}
                              <a href="{{link.url}}">{{link.name}}</a> 
                              {% if forloop.last == false %}
                              <span class="coloured-bp">&bull;</span>
                              {% endif %}
                          {% endfor %}
                      </div>
                      <div class="company-footer-bottom">
                        <a href="mailto:lkft@linaro.org">lkft@linaro.org</a>
                        <span class="coloured-bp">&bull;</span>
                        freenode/#linaro-lkft
                        <span class="coloured-bp">&bull;</span>
                        <a href="https://lists.linaro.org/mailman/listinfo/lkft-triage">lkft-triage@lists.linaro.org</a>
                      </div>
                      <div class="company-footer-bottom">
                          Copyright &copy; {{ 'now' | date: "%Y" }} Linaro Limited <a href="{{site.data.linaro.url}}">{{site.data.linaro.name}}</a>
                      </div>
                </div>
                <!--/.container-->
            </div>
        </footer>
    </div>
</div>
